{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


	<h2>Yesterday and before. . .</h2>

	{% if days %}
		{% for day in days %}
			{% if day.date != now %}
				<h2>{{day.date}}</h2>
				<p>chill score: {{day.chill_score}}</p>
				{% if day.moment_set.all %}
					<h4>Nice moments from this day:</h4>
					{% for moment in day.moment_set.all %}
						<p><strong>{{moment.where}}:</strong> {{moment.desc}}</p>
					{% endfor %}
				{% else %}
					<p>(no moments recorded for this day)</p>
				{% endif %}
			<hr />
			{% endif %}
		{% endfor %}
	{% else %}
		<p>You haven't recorded information about previous days. So go enjoy today!</p>
	{% endif %}

{% endblock %}