{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="section">
		<div class="regular-page">
			<h2>Yesterday and before. . .</h2>
		</div>
	</div>
	
	{% if days %}
		{% for day in days %}
			{% if day.date != now %}
				<div class="section">
					<div class="regular-page">
						<h3>{{day.date}}:</h3>
					</div>
				</div>
				<div class="section">
					<div class="left-two">
						<p><strong>chill score: {{day.chill_score}}</strong></p>
					</div>
					<div class="right-two">
						{% if day.moment_set.all %}
									<p><strong>Nice moments from this day:</strong></p>
									{% for moment in day.moment_set.all %}
										<p><strong>{{moment.where}}:</strong> {{moment.desc}}</p>
									{% endfor %}
						{% else %}
							<p>(no moments recorded for this day)</p>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<div class="section">
			<div class="regular-page">
				<p>You haven't recorded information about previous days. So go enjoy today!</p>
			</div>
		</div>
	{% endif %}
	

{% endblock %}