{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Hi, {{ user.username }}!</h2>

<div>
	{% if today_exists == False %}
		<p>There is no information on today yet. Get started by recording how chilled out you've felt today, on a scale from 0 (super stressed) to (super mellow):</p>
		<form method="POST" action="post_day">
			{% csrf_token %}
			{{ form1.as_p}}
			<input type="submit" name="form1" value="submit" />
		</form>
	{% else %}
		{% for day in days %}
			{% if day.date == now %}
				<h3>Today is {{day.date}}</h3>
				<p>you've recorded a chill score of <strong>{{day.chill_score}}</strong> for today.</p>
				{% if day.moment_set.all %}
					<h4>Nice moments from today so far:</h4>
					{% for moment in day.moment_set.all %}
						<p><strong>{{moment.where}}:</strong> {{moment.desc}}</p>
					{% endfor %}
				{% else %}
					<p>What moments would you like to record from today?</p>
				{% endif %}
			{% endif %}
		{% endfor %}
		<form method="POST" action="post_moment">
			{% csrf_token %}
			{{ form2.as_p}}
			<input type="submit" name="form2" value="submit" />
		</form>

	{% endif %}

</div>

<hr/>
<hr/>
<hr/>
<hr/>

<div>
	<h3>for loop to display a today record</h3>
	{% if days %}
		{% for day in days %}
			{% if day.date == now %}
				<h2>{{day.date}}</h2>
				<p>chill score: {{day.chill_score}}</p>
				{% if day.moment_set.all %}
					<h4>Nice moments from today so far:</h4>
					{% for moment in day.moment_set.all %}
						<p><strong>{{moment.where}}:</strong> {{moment.desc}}</p>
					{% endfor %}
				{% else %}
					<p>(no moments recorded for today yet)</p>
				{% endif %}
				<hr />
			{% endif %}
		{% endfor %}
	{% else %}
		<p>ain't no days yet</p>
	{% endif %}
	<hr/>
</div>

<h3>form based on documentation</h3>
<form action="post_day" method="post">
    {% csrf_token %}
	<label for="date">date:</label>
	<input id="date" type="date" name="date" required>
	<label for="chill_score">chill score:</label>
	<input id="chill_score" type="decimal" name="chill_score">
	<input type="submit" name="form3" value="submit">
</form>
<hr/>


<h3>version of form that calls form.Form. I think</h3>
<form action="post_day" method="post">
    {% csrf_token %}
    {{ form3 }}
    <input type="submit" name="form3" value="submit">
</form>
<hr/>


<h3>low-tech form!!!!!!!</h3>
test readout: {{now}}
<form action="post_day" method="POST">
  {% csrf_token %}
  <label>date: (today) </label>
  <input type="date" name="date"/>
  <label>  chill score: </label>
  <input type="decimal" name="chill_score" placeholder="5"/>
  <input type="submit" value="submit"/>
</form>
<hr/>

<h2>forms.ModelForm version:</h2>


<form method="POST" action="post_moment">
	{% csrf_token %}
	{{ form2.as_p}}
	<input type="submit" name="form2" value="submit" />
</form>


{% endblock %}