body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	background-color: #E8E8ED;	
}

p, form {
	font-size: 14px !important;
	line-height: 1.5;
}

label {
	font-family: 'Fira Sans', sans-serif;	
	font-size: 14px !important;
	margin-right: 10px;
	padding: 0px;
}

input, button {
	font-family: 'Fira Sans', sans-serif;	
	font-size: 14px !important;
	margin-right: 10px;
	padding: 5px; 
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding: 0;
}

h2 {
	height: 20px;
}

strong {
	font-weight: 500;
}

.master-container {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
	width: 100wh;
}

.block-container {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
}

.section {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
	min-height: 1px;
}

.regular-page {
	grid-area: 1 / 2 / 2 / 6;
	text-align: left;
	margin: 0;
}

.left-two {
	grid-area: 1 / 2 / 2 / 4;
	border-bottom: 1px solid darkgray;
}

.right-two {
	grid-area: 1 / 4 / 2 / 6;
	border-bottom: 1px solid darkgray;
}

.nav-container {
	text-align: center;
	grid-area: 1 / 2 / 2 / 6;
	height: 30px;
	background-color: white;
	z-index: 10;
	padding-top: 10px;
}

a {
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	color: #221B4E;
}

a:hover {
	color: #908DA6;
}

a:active {
	color: red;	
}

.giant-text {
	font-weight: 700;
	font-size: 45px;
	animation: TextColor 20s ease infinite;
	-webkit-animation: TextColor 20s ease infinite;
	-moz-animation: TextColor 20s ease infinite;
}

.title-wrapper {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	height: 50vh;
}

.landing-page {
	margin: 0;
	width: 100wh;
	height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: linear-gradient(180deg, #0C053D, white);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
	z-index: -10;
}


@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0% { background-position: 0% 10% }
	23% { background-position: 100% 90% }
	57% { background-position: 100% 90% }	
	90% { background-position: 0% 10% }
	100% { background-position: 0% 10% }
}

@keyframes TextColor {
	0% { color: white }
	23% { color: black }
	57% { color: black }
	90% { color: white }
	100% { color: white }
}

@-moz-keyframes TextColor {
	0% { color: white }
	23% { color: black }
	57% { color: black }
	90% { color: white }
	100% { color: white }
}

@-webkit-keyframes TextColor {
	0% { color: white }
	23% { color: black }
	57% { color: black }
	90% { color: white }
	100% { color: white }
}

