/*
colors:
glitter: #E8E8ED
purple: #0C053D
*/


body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	background-color: #E8E8ED;	
}

p, form {
	font-size: 14px !important;
	line-height: 1.5;
}

label {
	font-family: 'Fira Sans', sans-serif;	
	font-size: 14px !important;
	margin-right: 10px;
	padding: 0px;
}

input, button {
	font-family: 'Fira Sans', sans-serif;	
	font-size: 14px !important;
	margin-right: 10px;
	padding: 5px; 
}

input {
	width: 200px;
}
output {
	display: block;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding: 0;
}

h2 {
	height: 20px;
}

strong {
	font-weight: 500;
}

/* ================================= */
/*             grid stuff            */
/* ================================= */

.master-container {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
	width: 100wh;
}

.block-container {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
}

.section {
	display: grid;
	grid-template-columns: 1fr repeat(4, 1fr) 1fr;
	min-height: 1px;
}

.regular-page {
	grid-area: 1 / 2 / 2 / 6;
	text-align: left;
	margin: 0;
}

.left-two {
	grid-area: 1 / 2 / 2 / 4;
	border-bottom: 1px solid darkgray;
}

.right-two {
	grid-area: 1 / 4 / 2 / 6;
	border-bottom: 1px solid darkgray;
}

/* ================================= */
/*                nav                */
/* ================================= */


.nav-container {
	text-align: center;
	grid-area: 1 / 2 / 2 / 6;
	height: 30px;
	background-color: #E8E8ED;
	padding-top: 10px;
}

a {
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	color: #221B4E;
}

a:hover {
	color: #908DA6;
}

a:active {
	color: red;	
}

/* ================================= */
/*         landing page stuff        */
/* ================================= */


.giant-text {
	font-weight: 700;
	font-size: 45px;
	animation: TextColor 30s ease infinite;
	-webkit-animation: TextColor 30s ease infinite;
	-moz-animation: TextColor 30s ease infinite;
}

.title-wrapper {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	height: 75vh;
	width: 100vw;
	z-index: 3;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

}

/* ================================= */
/*  landing page animation, linear   */
/* ================================= */

/*.landing-page {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: linear-gradient(0deg, #0C053D, white);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
	z-index: -10;
}


@-webkit-keyframes Gradient {
	0%{ background-position:100% 100% }
    50%{ background-position:100% 0% }
    100%{ background-position:100% 100% }
}

@-moz-keyframes Gradient {
	0%{ background-position:100% 100% }
    50%{ background-position:100% 0% }
    100%{ background-position:100% 100% }
}

@keyframes Gradient {
	0%{ background-position:100% 100% }
    50%{ background-position:100% 0% }
    100%{ background-position:100% 100% }
}

@-webkit-keyframes TextColor {
	0% { color: white }
	25% { color: black }
	75% { color: black }
	100% { color: white }
}

@keyframes TextColor {
	0% { color: white }
	25% { color: black }
	75% { color: black }
	100% { color: white }
}

@-moz-keyframes TextColor {
	0% { color: white }
	25% { color: black }
	75% { color: black }
	100% { color: white }
}*/

/* ================================= */
/*   landing page animation, radial  */
/* ================================= */


.landing-page {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: -webkit-flex;
	display: flex;
	background-image: radial-gradient(circle, white, #0C053D);
	background-repeat: no-repeat;
	background-size: 200% 200%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
	z-index: 1;
}
.deep-state {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #0C053D;
}


@-webkit-keyframes Gradient {
	0% { background-position: 100% 80% }
	25% {	background-position: 50% 90% }
	50% { 
		background-position: 0% 80%;
		opacity: 1;
	}
	70% { 
		background-position: 0% 80%;
		opacity: 0;
	}	
	80% {
		background-position: 100% 80%;
		opacity: 0;
	}
	100% {
		background-position: 100% 80%;
		opacity: 1;
	}
}

@-moz-keyframes Gradient {
	0% { background-position: 100% 80% }
	25% {	background-position: 50% 90% }
	50% { 
		background-position: 0% 80%;
		opacity: 1;
	}
	70% { 
		background-position: 0% 80%;
		opacity: 0;
	}	
	80% {
		background-position: 100% 80%;
		opacity: 0;
	}
	100% {
		background-position: 100% 80%;
		opacity: 1;
	}
}

@keyframes Gradient {
	0% { background-position: 100% 80% }
	25% { background-position: 50% 90% }
	50% { 
		background-position: 0% 80%;
		opacity: 1;
	}
	70% { 
		background-position: 0% 80%;
		opacity: 0;
	}	
	80% {
		background-position: 100% 80%;
		opacity: 0;
	}
	100% {
		background-position: 100% 80%;
		opacity: 1;
	}
}

@-webkit-keyframes TextColor {
	0% { color: white }
	25% { color: white }
	50% { color: white }
	70% { color: #0C053D }
	80% { color: #0C053D }
	100% { color: #0C053D }
}

@keyframes TextColor {
	0% { color: white }
	10% { color: #0C053D }
	25% { color: #0C053D }
	50% { color: #0C053D }
	70% { color: white }
	80% { color: white }
	100% { color: white }
}

@-moz-keyframes TextColor {
	0% { color: white }
	50% { color: #0C053D }
	100% { color: white }
}



/* ================================= */
/* slider (based on W3 Schools code) */
/* ================================= */


.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spanleft {
	text-align: right;
	padding-right: 1em;

}

.spanright {
	text-align: left;
	padding-left: 1em;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; 
  height: 3px; 
  background: white; 
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #0C053D;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #0C053D;
  cursor: pointer; /* Cursor on hover */
}

